Repository zefr0x/jidhom: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, taplo-lint, deno-fmt

.pre-commit-config.yaml:

default_install_hook_types:
    - pre-commit
    - commit-msg

repos:
    # Commit Messages
    - repo: https://github.com/zefr0x/check_commit
      rev: v1.0.0
      hooks:
          - id: conventional-commit-message
            stages: [commit-msg]
            args: [
                "74",
                "feat,fix,refac,deps,sty,lint,test,build,cid,dev,release,docs,i18n,data,revert",
                "Fixes,Closes,Resolves,Refs,Signed-off-by,Co-authored-by",
            ]
    - repo: local
      hooks:
          # Toml
          - id: taplo-format
            alias: taplo
            name: taplo-format
            description: Format TOML files
            entry: taplo format
            language: python
            types: [toml]
            additional_dependencies: [taplo]
            stages: [pre-commit]
          - id: taplo-lint
            name: taplo-lint
            description: Lint TOML files
            entry: taplo lint
            language: python
            types: [toml]
            additional_dependencies: [taplo]
            stages: [pre-commit]
          # Markdown, Yaml
          - id: deno-fmt
            name: deno fmt
            entry: deno fmt
            types_or: [markdown, yaml]
            language: node
            additional_dependencies: [deno]
            stages: [pre-commit]

cid: add `lint`, `test` and `release` workflows
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: deno-fmt

dev(just): add some useful commands
  justfile
Due: none

docs(readme): add badges for github workflows
  README.md
Due: deno-fmt

feat: initiate an actix+leptos ssr project
  Cargo.lock
  Cargo.toml
  assets/.gitkeep
  rust-toolchain.toml
  src/app.rs
  src/lib.rs
  src/main.rs
  style/main.scss
Due: taplo-format, taplo-lint

lint(pre-commit): format `scss` using `deno-fmt`
  .pre-commit-config.yaml
Due: deno-fmt

feat(i18n): setup `leptos-fluent` for text localization
  Cargo.lock
  Cargo.toml
  locales/ar/main.ftl
  locales/en/main.ftl
  src/app.rs
  src/i18n.rs
  src/lib.rs
Due: taplo-format, taplo-lint

docs(readme/qa): add my purpose of the project
  README.md
Due: deno-fmt

cid: use the `nightly` rust toolchain
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: deno-fmt

docs(contributing): update development specs to use rust `nightly`
  CONTRIBUTING.md
Due: deno-fmt

cid: run `clippy` and tests for all features
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: deno-fmt

feat: start using `anyhow` to handle errors in server
  Cargo.lock
  Cargo.toml
  src/main.rs
Due: taplo-format, taplo-lint

dev(just/lint-all): run `clippy` for all features
  justfile
Due: none

feat(db): initial setup of `sea-orm` for `postgresql`
  .gitignore
  Cargo.lock
  Cargo.toml
  migration/Cargo.toml
  migration/README.md
  migration/src/lib.rs
  migration/src/main.rs
  src/db/entities/mod.rs
  src/db/entities/prelude.rs
  src/db/mod.rs
  src/lib.rs
  src/main.rs
  src/utils/mod.rs
  src/utils/server.rs
Due: taplo-format, taplo-lint, deno-fmt

dev(just): add command for sea-orm entities generation
  justfile
Due: none

cid(test): use `gnu` target rather than `musl`
  .github/workflows/test.yml
Due: deno-fmt

feat: handle logging properly for both client and server
  Cargo.lock
  Cargo.toml
  src/db/mod.rs
  src/lib.rs
  src/main.rs
Due: taplo-format, taplo-lint

feat: add basic not found (404) page
  src/app.rs
Due: none

feat(style): setup `bulma` as a css framework
  src/app.rs
Due: none

refac: attempts to reduce compile time
  Cargo.lock
  Cargo.toml
  justfile
  src/db/Cargo.toml
  src/db/src/entities/mod.rs
  src/db/src/entities/prelude.rs
  src/db/src/lib.rs
  src/lib.rs
  src/main.rs
  src/utils/server.rs
Due: taplo-format, taplo-lint

build: create separate crates for api, components, and pages
  Cargo.lock
  Cargo.toml
  src/api/Cargo.toml
  src/api/src/lib.rs
  src/api/src/utils.rs
  src/components/Cargo.toml
  src/components/src/lib.rs
  src/lib.rs
  src/pages/Cargo.toml
  src/pages/src/lib.rs
  src/utils/mod.rs
Due: taplo-format, taplo-lint

feat(ui): create an initial nav bar and empty home page
  src/app.rs
  src/components/src/lib.rs
  src/components/src/nav.rs
  src/pages/src/home.rs
  src/pages/src/lib.rs
Due: none

feat(db): create users and sessions tables
  migration/src/lib.rs
  migration/src/m20250714_015113_create_users_table.rs
  migration/src/m20250714_220820_create_sessions_table.rs
  src/db/src/entities/mod.rs
  src/db/src/entities/prelude.rs
  src/db/src/entities/sea_orm_active_enums.rs
  src/db/src/entities/session.rs
  src/db/src/entities/user.rs
Due: none

feat(db): implement session management logic and connection state pattern
  Cargo.lock
  Cargo.toml
  migration/Cargo.toml
  src/api/Cargo.toml
  src/api/src/utils.rs
  src/db/Cargo.toml
  src/db/src/connection/impl_applicant.rs
  src/db/src/connection/impl_interviewer.rs
  src/db/src/connection/impl_loggedin.rs
  src/db/src/connection/impl_none.rs
  src/db/src/connection/impl_recruitment_manager.rs
  src/db/src/connection/mod.rs
  src/db/src/entities/session.rs
  src/db/src/entities/user.rs
  src/db/src/error.rs
  src/db/src/lib.rs
  src/db/src/secret/hash.rs
  src/db/src/secret/mod.rs
  src/db/src/utils.rs
  src/main.rs
Due: taplo-format, taplo-lint

docs: add missing module, component, and lint descriptions
  migration/src/lib.rs
  migration/src/main.rs
  src/api/src/lib.rs
  src/api/src/utils.rs
  src/components/src/lib.rs
  src/components/src/nav.rs
  src/pages/src/home.rs
  src/pages/src/lib.rs
Due: none

lint: enable lints in all crates and disable conflicting/problimatic lints
  Cargo.toml
  migration/Cargo.toml
  src/api/Cargo.toml
  src/components/Cargo.toml
  src/components/src/lib.rs
  src/db/Cargo.toml
  src/pages/Cargo.toml
  src/pages/src/lib.rs
Due: taplo-format, taplo-lint

feat: log build metadata on startup
  Cargo.lock
  Cargo.toml
  build.rs
  src/main.rs
Due: taplo-format, taplo-lint

refac: fix clippy lints
  migration/src/lib.rs
  migration/src/m20250714_015113_create_users_table.rs
  migration/src/m20250714_220820_create_sessions_table.rs
  migration/src/main.rs
Due: none

feat: use the `tracing` logging framework rather than `log`
  Cargo.lock
  Cargo.toml
  src/api/Cargo.toml
  src/components/Cargo.toml
  src/db/Cargo.toml
  src/db/src/connection/impl_none.rs
  src/db/src/connection/mod.rs
  src/db/src/secret/hash.rs
  src/db/src/utils.rs
  src/lib.rs
  src/main.rs
  src/pages/Cargo.toml
Due: taplo-format, taplo-lint

feat: log more information
  src/db/src/connection/impl_none.rs
Due: none

deps(cargo): update all
  Cargo.lock
  Cargo.toml
  migration/Cargo.toml
  src/db/Cargo.toml
Due: taplo-format, taplo-lint

feat(leptos): enable splitting the wasm binary
  src/lib.rs
Due: none

refac(ui): replace `bulma` with `daisyui` and `tailwindcss`
  src/app.rs
  src/components/src/nav.rs
Due: none

feat(ui): create login and applicant register pages
  Cargo.lock
  Cargo.toml
  locales/ar/auth.ftl
  locales/ar/nav.ftl
  locales/ar/register.ftl
  locales/en/auth.ftl
  locales/en/nav.ftl
  locales/en/register.ftl
  src/api/src/authentication.rs
  src/api/src/lib.rs
  src/api/src/registeration.rs
  src/api/src/utils.rs
  src/app.rs
  src/components/Cargo.toml
  src/components/src/authentication.rs
  src/components/src/lib.rs
  src/components/src/nav.rs
  src/components/src/registeration.rs
  src/components/src/utils.rs
  src/pages/src/lib.rs
  src/pages/src/login.rs
  src/pages/src/register.rs
Due: taplo-format, taplo-lint

refac(db): log database connection pool creating before doing it
  src/db/src/connection/mod.rs
Due: none

feat(db/migration): add `ToChangePassword` column to `User` table
  migration/src/lib.rs
  migration/src/m20250813_171740_add_user_to_password_change_state.rs
  src/db/src/connection/impl_none.rs
  src/db/src/entities/session.rs
  src/db/src/entities/user.rs
Due: none

feat(db): implement new connection state with exclusive admin operations
  src/db/Cargo.toml
  src/db/src/connection/impl_admin.rs
  src/db/src/connection/impl_none.rs
  src/db/src/connection/mod.rs
  src/db/src/data.rs
  src/db/src/lib.rs
Due: taplo-format, taplo-lint

feat(control): create a cli tool for the admin
  Cargo.lock
  Cargo.toml
  control/Cargo.toml
  control/src/cli.rs
  control/src/main.rs
Due: taplo-format, taplo-lint

deps(cargo): use patched version of `leptos-fluent`
  Cargo.lock
  Cargo.toml
Due: taplo-format, taplo-lint

lint(clippy): replace deprecated `string_to_string` with `implicit_clone`
  Cargo.toml
Due: taplo-format, taplo-lint

cid: avoid cargo features workaround
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: deno-fmt
