Repository zefr0x/jidhom: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, taplo-lint, deno-fmt

taplo-format:
  alias: taplo
  name: taplo-format
  description: Format TOML files
  entry: taplo format
  language: python
  additional_dependencies:
  - taplo
  stages:
  - pre-commit

taplo-lint:
  name: taplo-lint
  description: Lint TOML files
  entry: taplo lint
  language: python
  additional_dependencies:
  - taplo
  stages:
  - pre-commit

deno-fmt:
  name: deno fmt
  entry: deno fmt
  language: node
  additional_dependencies:
  - deno
  stages:
  - pre-commit

dev(just/lint-all): avoid cargo features workaround
  justfile
Due: none

build(cargo): use `cranelift` for debug codegen rather than `llvm`
  Cargo.toml
  rust-toolchain.toml
Due: taplo-format, taplo-lint

build: provide setup for building container image with `podman`
  .containerignore
  Containerfile
  podman-compose.yml
  rust-toolchain.toml
Due: taplo-format, taplo-lint, deno-fmt

docs(readme): add containerized deployment instructions
  README.md
Due: deno-fmt

deps(cargo): update all
  Cargo.lock
  Cargo.toml
  control/Cargo.toml
  migration/Cargo.toml
Due: taplo-format, taplo-lint

cid: ensure explicitly defining permissions
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: deno-fmt

fix: avoid leaking `last-modified` date in served files' http headers
  src/main.rs
Due: none

feat(ui): select color theme based on client preference
  src/app.rs
  src/components/Cargo.toml
  src/components/src/utils.rs
  src/main.rs
Due: taplo-format, taplo-lint

cid: update and pin third-party github actions to full-length commit hash
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: deno-fmt

build(cargo): fix relevant features not enabled in some cases
  Cargo.toml
  src/pages/Cargo.toml
Due: taplo-format, taplo-lint

refac(ui): modularize `ClientCookies` constructor
  src/components/src/utils.rs
Due: none

deps(cargo): update all
  Cargo.lock
  Cargo.toml
  control/Cargo.toml
  migration/Cargo.toml
  src/db/Cargo.toml
Due: taplo-format, taplo-lint

build(pod): download `cargo-leptos` directly rather than via `binstall`
  Containerfile
Due: none

build(pod): enable workaround for rustup to avoid failing in OverlayFS
  Containerfile
Due: none

cid: pin `action-gh-release` GitHub action to full-length commit hash
  .github/workflows/release.yml
Due: deno-fmt

cid(release): build a container image and push it to GitHub's registery
  .github/workflows/release.yml
Due: deno-fmt

feat(ui/registeration): indicate copied state in the copy button
  src/components/src/registeration.rs
Due: none

feat(ui): store the current session role as a global state
  Cargo.lock
  Cargo.toml
  src/api/Cargo.toml
  src/api/src/authentication.rs
  src/api/src/data.rs
  src/api/src/lib.rs
  src/api/src/utils.rs
  src/app.rs
Due: taplo-format, taplo-lint

cid(lint): treat warnings as errors
  .github/workflows/lint.yml
Due: deno-fmt

deps(cargo): update all
  Cargo.lock
  Cargo.toml
  control/Cargo.toml
  migration/Cargo.toml
  src/components/Cargo.toml
  src/db/Cargo.toml
  src/pages/Cargo.toml
Due: taplo-format, taplo-lint

refac(db): fix deps breaking changes
  src/db/src/connection/impl_admin.rs
  src/db/src/connection/impl_none.rs
  src/db/src/secret/hash.rs
Due: none

build(pod): update `cargo-leptos` binary and verify it with a BLAKE2 hash
  Containerfile
Due: none

feat(deps/argon2): enable `parallel` feature
  Cargo.lock
  src/db/Cargo.toml
Due: taplo-format, taplo-lint

sty(clippy): fix minor lint warnings
  src/db/src/secret/hash.rs
Due: none

build(rustc): increase the recursion limit to 256
  src/lib.rs
Due: none

Path conditions:
  taplo-format: any of: \.toml$
  taplo-lint: any of: \.toml$
  deno-fmt: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$
